python data types
1-integer(1,2,3 -1,-2,-3)
2-string(include characters single quotes,double  quotes,triple quotes
3-float (include integer with point)
4-boolean(true or false)

In [3]:
#String with single Quotes
String1 = 'Welcome to the AI class'
print("String with the use of single quotes: ")
print(String1)

String with the use of single quotes:
Welcome to the AI class

In [4]:
#String with double Quotes
String1 = "I'm a Python"
print("\nString with the use of double quotes:")
print(String1)

String with the use of double quotes:
I'm a Python

In [14]:
#String with tripple quotes
String1 = ("'I'm a Python and I live in a world of AI'")
print(String1)

'I'm a Python and I live in a world of AI'

In [6]:
#Access characters of String
String1 = "ArtificialIntelligence"
print("initial String:")
print(String1)

initial String:
ArtificialIntelligence

In [8]:
#Printing First Character
print("\nFirst character of String is: ")
print(String1[0])

First character of String is:
A

In [10]:
#Printing last character
print("\nLast character of String is: ")
print (String1[-1])

Last character of String is:
e

In [27]:
Mystring = 'Learn python'
print(Mystring[0:8])
print(Mystring[-12:-7],"\n")

Learn py
Learn

In [22]:
print(Mystring[6:])
print(Mystring[:-2], "\n")

python
Learn pyth

In [17]:
print(Mystring[:])

Learn python

In [29]:
x='python Class'
print(x[::-1])

ssalC nohtyp

In [30]:
x='python Class'
print(x[0:6:2])

pto

In [31]:
x=[1,2,3,4,5]
print(x.index(3))

2

In [33]:
x='tan'
print(x.index('t'))

0

In [37]:
x='python class'
print(x[0:6:4])

po

In [38]:
#Assessment x=[1,2,3,3,3,4,5,5] Extract any three middle values, extract all values except
#first and last ,extract every third values, reverse first half values

In [39]:
x=[1,2,3,3,3,4,5,5]
print(x[3:7])

[3, 3, 4, 5]